body{
    background-color:LightSteelBlue;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: sans-serif;
    color:LightSlateGray ;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;;
}

#addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 25px;
    font-style: italic;
    left: 0;
    border-radius: 40px;
    border-style: solid;
    border-color: LightSlateGray;
    color: lightSlateGray;
    background-color: transparent; 
}

#addTask:hover{
    box-shadow: 0 0 40px 40px #87CEFA
    inset;
    color: white;
    outline: none;
}

input#task{
    height: 20px;
    width: 150px;
    font-size: 20px;
    border: solid 2px black;
    border-radius: 15px;
    background-color: LightSkyBlue;

}

input#date{
    height: 20px;
    width: 150px;
    font-size: 20px;
    border: solid 2px black;
    border-radius: 15px;
    background-color: LightSkyBlue;
}

#popUp{
    display: none;
    position: fixed;
    z-index: 1;
    background-color: LightSlateGrey;
    font-size: 30;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0 , 0);
    background-color: rgba(0, 0, 0, 0.6)
}

#form{
    background-color:LightSkyBlue ;
    margin: 15% auto;
    padding: 1%;
    border: 1px solid black;
    width: 20%;
    border-radius: 8px;
}

#newTask{
    height: 26px;
    width: 120px;
    font-size: 20px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: LightSkyBlue;
}

#newTask:hover{
    box-shadow: 0 0 40px 40px LightSlateGray
    inset;
    color: white;
    outline: none;
}

#list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.task {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
    height: 200px;
    width: 150px;
    padding: 15px;
    margin: 20px;
    background-color: darkkhaki;
}