body{
    background-color:dimgray;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addTask {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 25px;
}

#popUp{
    display: none;
    position: fixed;
    z-index: 1;
    background-color: darkgrey;
    font-size: 30;

}